.logo{
    position: absolute;
    top: 0px;right: 1000px;
    width: 440px;
    height: 42px;
}
.tencent-logo,.lpl2020-logo,.right-row-icon{
    background: url(../img/top20200923.png);
    display: inline-block;
}
.right-row-icon{
    background-position: 0px -136px;
    height: 22px;
    width: 108px;
}
.tencent-logo{
    width: 205px;
    height: 38px;
    background-position: 0px -44px;
}
.lpl2020-logo{

    width: 230px;
    height: 36px;
    background-position: 0px -86px;
}
.zero-imask{
    background: url(../img/hero-imask.png) no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;left: 12px
}
.i-icon{
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-bottom: 5px;
    background: url(../img/i-lx.png);
}